<!-- 盒子1 -->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="power-one-module">
            <div class="current-position">
                <div class="content">
                    <span>环境 > 水质量 > 工厂工业废水排放展示</span>
                </div>
            </div>
            <div class="chart-area">
                <span class="title">工厂工业废水排放展示</span>
                <div class="content">
                    <highchart id="factory" config="factory"></highchart>
                </div>
            </div>
            <div class="one-word">
                <span class="title">一句话解读</span>
                <span class="content" style="padding-top: 10px;padding-bottom: 10px"><marquee>展示太仓市五家工业废水排放大户的实时污水排放量，其中太仓市佳煌针织印染有限公司工业废水排放量较大</marquee></span>
            </div>
            <div class="detail-data">
                <span class="title">数据详情</span>
                <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="year in totaldata1.tabledata" style="text-align: center;">{{year.yearvalue}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="JLfactory in totaldata1.tabledata" style="text-align: center;">{{JLfactory.JLfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="Afactory in totaldata1.tabledata" style="text-align: center;">{{Afactory.Afactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="Bfactory in totaldata1.tabledata" style="text-align: center;">{{Bfactory.Bfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="Cfactory in totaldata1.tabledata" style="text-align: center;">{{Cfactory.Cfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                <td ng-repeat="Dfactory in totaldata1.tabledata" style="text-align: center;">{{Dfactory.Dfactory}}</td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>