<div class="wrapper lter b-b bg-white">
    <div class="subview3_title">水环境分析预测BI</div>
</div>
<div class="wrapper container" style="overflow: scroll; height: 1000px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <!-- 盒子1 -->
            <!-- 五强企业排放Highcharts -->
            <div class="panel panel-primary" style="margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0px;">
                <div class="topbar">
                    <h4 class="cgq_title">工厂工业废水排放展示</h4>
                </div>
                <div class="panel-body" style="padding-top:0;padding-bottom:0;">
                    <div class="row">
                        <!--Highcharts部分-->
                        <div class="col-md-8 chart-panel" style="padding-top:15px;padding-bottom:15px;">
                            <highchart id="factory" config="factory" style="width:500px,height: 500px"></highchart>
                        </div>
                        <!--第三个框的右边栏部分-->
                        <div class="col-md-4">
                            <p class="fill-margin"></p>
                            <div class="ioc-panel-desc">
                                <p class="ioc-panel-desc-title">
                                <div style="background:#929dce;width:115px;height:30px;text-align:center;line-height:30px;font-size:15px;color:#FFFFFF;font-weight:bold" >数据详情</div>
                                </p>
                                <div style="height:3px"></div>
                                <h4>预测结果解读</h4>
                                <p id='a' style="margin-right:10px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 太仓市佳煌针织印染有限公司工业废水排放对太仓市水污染较为严重。</p>
                            </div>
                            <hr/>
                            <div class="pull-left">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x text-info"></i>
									<i class="icon-bulb fa-stack-1x text-white fa-spin icon-bulb-position"></i>
								</span>
                                <span class="h4">一句话解读</span>
                                <br />
                                <div style="margin-right:10px">
                                    <span class="glyphicon glyphico    n-list-alt" aria-hidden="true" style="height:5px;margin-right:13px"></span>
                                    <span style="font-size:14px;margin-right:10px">  &nbsp;&nbsp;对太仓市五家工业废水排放大户实时污水排放量展示。</span>
                                </div>
                            </div>
                            <br>
                            <button ng-click="showindustry()" class="btn m-b-xs btn-primary pull-left" style="margin-left:0;font-weight:bold;margin-top:10px;">详细数据列表</button>
                        </div>
                    </div>
                </div>
                <!--五强企业废水排放数据详情-->
                <div class="bg-white fc-water" style="margin:0;width:100%;border:0px" ng-if="industryshow">
                    <div class="panel panel-default paddingmargin0em">
                        <div class="panel-heading"><center>数据详情</center></div>
                        <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="year in totaldata.tabledata" style="text-align: center;">{{year.yearvalue}}</td>
                            </tr>
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="JLfactory in totaldata.tabledata" style="text-align: center;">{{JLfactory.JLfactory}}</td>
                            </tr>
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="Afactory in totaldata.tabledata" style="text-align: center;">{{Afactory.Afactory}}</td>
                            </tr>
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="Bfactory in totaldata.tabledata" style="text-align: center;">{{Bfactory.Bfactory}}</td>
                            </tr>
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="Cfactory in totaldata.tabledata" style="text-align: center;">{{Cfactory.Cfactory}}</td>
                            </tr>
                            <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                                <td ng-repeat="Dfactory in totaldata.tabledata" style="text-align: center;">{{Dfactory.Dfactory}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 盒子1结束 -->

            <!-- 盒子2 -->
            <!-- 污水总量Highcharts -->
            <div class="panel panel-primary" style="margin-left:auto;margin-right:auto;margin-top: 20px;">
                <div class="topbar">
                    <h4 class="cgq_title">污水处理厂废水排放分析</h4>
                </div>
                <div class="panel-body" style="padding-top:0;padding-bottom:0;">
                    <div class="row">
                        <!--Highcharts部分-->
                        <div class="col-md-8 chart-panel" style="padding-top:15px;padding-bottom:15px;">
                            <highchart id="discharge" config="discharge" style="width:500px,height: 500px"></highchart>
                        </div>
                        <!--第二个框的右边栏部分-->
                        <div class="col-md-4" style="padding:15px 0 0 0;">
                            <div class="col-md-12" style="margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid lightgrey;">
                                <p><i class="glyphicon  glyphicon-list" ></i><span class="fc-font-title" style="margin-left:0.5em">各污水处理厂废水排放量</span></p>
                                <div class="col-md-6" style="padding-left:0;padding-right:2em">
                                    <button ng-click="changePollutionType1()" class="btn m-b-xs btn-primary  cgq_fixedwidth" >废水排放量</button>
                                </div>
                            </div>
                            <br><br>
                            <div class="col-md-12" style="margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid lightgrey;">
                                <p><i class="glyphicon  glyphicon-list" ></i><span class="fc-font-title" style="margin-left:0.5em">所排放废水中各污染指标</span></p>
                                <div class="col-md-6" style="padding-left:0;padding-right:2em">
                                    <button ng-click="changePollutionType2()" class="btn m-b-xs btn-primary  cgq_fixedwidth">溶解氧浓度</button>
                                </div>
                                <div class="col-md-6" style="padding-left:0;padding-right:2em">
                                    <button ng-click="changePollutionType3()" class="btn m-b-xs btn-primary  cgq_fixedwidth">氨氮浓度</button>
                                </div>
                                <div class="col-md-6" style="padding-left:0;padding-right:2em">
                                    <button ng-click="changePollutionType4()" class="btn m-b-xs btn-primary  cgq_fixedwidth">总磷浓度</button>
                                </div>
                                <div class="col-md-6" style="padding-left:0;padding-right:2em">
                                    <button ng-click="changePollutionType5()" class="btn m-b-xs btn-primary  cgq_fixedwidth">高锰酸钾浓度</button>
                                </div>
                            </div>
                            <!--一句话解读-->
                            <div class="col-md-12">
                                <i class="fa  fa-mortar-board (alias) fa-fw text-muted" style="color: #23b7e5"></i>
                                <span class="fc-font-title">一句话解读</span>	      <br/>
                                <!-- <span class="fc-font-content" style="margin-top:0.5em;margin-left:2em;">太仓市生活废水和工业废水都是经过太仓市污水处理厂处理后排放至江河。</span> -->
                                <span style="font-size:14px;margin-right:10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;太仓市主要污水处理厂近期废水排放分时间分厂区分析。</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 盒子2结束 -->

            <!-- 盒子3 -->
            <!-- 水质监测站及其附近污水处理厂查看 -->
            <div class="panel panel-primary" style="margin-top: 30px;margin-left:auto;margin-right:auto;">
                <div class="topbar">
                    <h4 class="cgq_title">水质监测站及其附近污水处理厂查看</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="panel panel-primary" style="height: 680px">
                                <div class="panel-body">
                                    <!--高德地图容器-->
                                    <div style="height: 650px; border: #ccc solid 1px;"id="map_canvas_BI"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="panel panel-primary" style="height: 680px">
                                <div class="panel-body">
                                    <h4>水质监测站</h4>
                                    <div style="margin-top:10px;font-size:16px">
                                        <ul class="list-group" style="overflow: auto;overflow-x:hidden;height:120px">
                                            <li class="list-group-item" style="height:40px;" ng-repeat="waterQualityOne in waterQualityMarkerList2">
                                                <span class="badge glyphicon glyphicon-exclamation-sign"></span>
                                                {{waterQualityOne.monitor}}
                                                <span class="glyphicon glyphicon-hand-right"></span>
                                                <a style="cursor: pointer" ng-click="btn_waterEnvironmentAnalysisElementsList(waterQualityOne)">查看</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div ng-show="tableStatus.allWaterQualityFailArr">
                                        <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                                            <tr>
                                                <th style="width:20%">监测点</th>
                                                <th style="width:20%">溶解氧</th>
                                                <th style="width:15%">KMnO4</th>
                                                <th style="width:15%">氨氮</th>
                                                <th style="width:15%">总磷</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityFailArr">
                                        <table class="table table-hover table-responsive" style="font-size:14px">
                                            <tr ng-repeat="waterQualityOne in waterQualityMarkerList2">
                                                <td style="width:20%">{{waterQualityOne.monitor}}</td>
                                                <td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-show="tableStatus.allWaterQualityArr">
                                        <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                                            <tr>
                                                <th style="width:20%">监测点</th>
                                                <th style="width:20%">溶解氧</th>
                                                <th style="width:15%">KMnO4</th>
                                                <th style="width:15%">氨氮</th>
                                                <th style="width:15%">总磷</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityArr">
                                        <table class="table table-hover table-responsive" style="font-size:14px">
                                            <tr ng-repeat="waterQualityOne in waterQualityMarkerList">
                                                <td style="width:20%">{{waterQualityOne.monitor}}</td>
                                                <td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>
                                                <td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-show="tableStatus.allWaterQualityElementsArr" style="font-size:16px">
                                        <div class="panel panel-primary">
                                            <div class="panel-body" id="source_analysis">
                                                <h4>附近排污点</h4>
                                                <hr>
                                                <div>
                                                    <table class="table table-hover table-responsive"  style="font-size:14px;margin-bottom:0px">
                                                        <tr>
                                                            <th style="width:30%">企业</th>
                                                            <th style="width:25%">排放量<br/>(吨)</th>
                                                            <th style="width:15%">COD<br/>(mg/L)</th>
                                                            <th style="width:15%">氨氮<br/>(mg/L)</th>
                                                            <th style="width:15%">总磷<br/>(mg/L)</th>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div style="overflow: auto; overflow-x:hidden;height:180px">
                                                    <table class="table table-hover table-responsive"  style="font-size:14px">
                                                        <tr ng-repeat="wasteWaterOne in wasteWaterAnalysisMarker">
                                                            <td style="width:25%">{{wasteWaterOne.monitor}}</td>
                                                            <td style="width:25%"><span>{{wasteWaterOne.index_discharge[1].toFixed(2)}}</span></td>
                                                            <td style="width:17%"><span>{{wasteWaterOne.index_cod.toFixed(2)}}</span></td>
                                                            <td style="width:17%"><span>{{wasteWaterOne.index_nh4n.toFixed(2)}}</span></td>
                                                            <td style="width:16%"><span>{{wasteWaterOne.index_p.toFixed(2)}}</span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div><button type="button" class="btn btn-block btn-success" ng-click="btn_waterEnvironmentAllList()" ng-show="tableStatus.allWaterQualityFailArrNav" >列出所有监测点</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 盒子3结束 -->
        </div>
    </div>
</div>