<!-- 盒子1 -->
<!-- 五强企业排放Highcharts -->
<div class="panel panel-primary" style="margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0px;">
    <div class="panel-heading">
        <h4>工厂工业废水排放展示</h4>
    </div>
    <div class="panel-body" style="padding-top:0;padding-bottom:0;">
        <div class="row">
            <!--Highcharts部分-->
            <div class="col-md-8 chart-panel" style="padding-top:15px;padding-bottom:15px;">
                <highchart id="factory" config="factory"></highchart>
            </div>
            <!--第三个框的右边栏部分-->
            <div class="col-md-4">
                <p class="fill-margin"></p>
                <div class="ioc-panel-desc">
                    <p class="ioc-panel-desc-title">
                    <div style="background:#929dce;width:115px;height:30px;text-align:center;line-height:30px;font-size:15px;color:#FFFFFF;font-weight:bold" >数据详情</div>
                    </p>
                    <div style="height:3px"></div>
                    <h4>预测结果解读</h4>
                    <p id='a' style="margin-right:10px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 太仓市佳煌针织印染有限公司工业废水排放对太仓市水污染较为严重。</p>
                </div>
                <hr/>
                <div class="pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x" style="color:#93e0ff"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x text-white fa-spin fa-fw" aria-hidden="true"></i>
                    </span>
                    <span class="h4">一句话解读</span>
                    <br />
                    <div style="margin-right:10px">
                        <span class="glyphicon glyphico n-list-alt" aria-hidden="true" style="height:5px;margin-right:13px"></span>
                        <span style="font-size:14px;margin-right:10px">  &nbsp;&nbsp;对太仓市五家工业废水排放大户实时污水排放量展示。</span>
                    </div>
                </div>
                <br>
                <button ng-click="showindustry()" class="btn m-b-xs btn-primary pull-left" style="margin-left:0;font-weight:bold;margin-top:10px;">详细数据列表</button>
            </div>
        </div>
    </div>
    <!--五强企业废水排放数据详情-->
    <div style="margin:0;width:100%;border:0px" ng-if="industryshow">
        <div class="panel panel-default">
            <div class="panel-heading"><center>数据详情</center></div>
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="year in totaldata.tabledata" style="text-align: center;">{{year.yearvalue}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="JLfactory in totaldata.tabledata" style="text-align: center;">{{JLfactory.JLfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Afactory in totaldata.tabledata" style="text-align: center;">{{Afactory.Afactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Bfactory in totaldata.tabledata" style="text-align: center;">{{Bfactory.Bfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Cfactory in totaldata.tabledata" style="text-align: center;">{{Cfactory.Cfactory}}</td>
                </tr>
                <tr st-select-row="row" class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Dfactory in totaldata.tabledata" style="text-align: center;">{{Dfactory.Dfactory}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- 盒子1结束 -->