<header>
  <hgroup>
    <h4>当前位置:</h4>
  </hgroup>
  <nav>
    <span>经济</span>>>
    <span>税收</span>>>
    <span>年度税收收入</span>
  </nav>
</header>
<section>
  <div id="topheader">
    年度GDP数据可视化
  </div>
  <div id="contain">
     <highchart id="yearTaxChart"  config="yearTaxChart" />
  </div>
  <div id="controlcontain">
    <div class="showstyle"><span>图表展示方式</span></div>
    <div class="ebutton ebuttonActive" ng-click = "changeViewsYear()" id="column">柱状图</div>
    <div class="ebutton" ng-click = "changeViewsYear()" id="line">折线图</div>
    <div style="width: 100%;"></div>
    <div style="width: 30%">
         <p class="handler-title" style="margin-top:15px;font-size:60%;">固定资产投资</p>
    </div>
    <div class="input-group input-group-sm" style="width:20%;">  
           <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange"attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
           <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
    </div>
     <div style="width: 30%">
         <p class="handler-title" style="margin-top:15px;font-size:60%;margin-left: 15%;">财政支出</p>
    </div>
    <div class="input-group input-group-sm" style="width:20%;">  
           <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange2"attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
           <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
    </div>
     <div style="width: 30%">
         <p class="handler-title" style="margin-top:15px;font-size:60%;">外贸进出口总额</p>
    </div>
    <div class="input-group input-group-sm" style="width:20%;">  
           <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange3"attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
           <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
    </div>
     <div style="width: 30%">
         <p class="handler-title" style="margin-top:15px;font-size:60%;margin-left: 15%;">GDP</p>
    </div>
    <div class="input-group input-group-sm" style="width:20%;">  
           <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange4"attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
           <span class="input-group-addon" id="sizing-addon3"style="padding:0px 2px 0px 2px">%</span>
    </div>
    </div>
  <details open>
    <summary>一句话解读</summary>
    <div id="sentence">
      <i class="fa fa-circle" style="margin-top: 1%"></i>
        <div>
            <span>年度税收预测模型为:多元回归模型</span>
        </div>
    </div>
  </details>
  <details open>
    <summary>数据模型</summary>
    <div id="sentence">
         <i class="fa fa-circle"></i>
             <div>
                <span>预测结果分析:预计今年税收收入增速有所放缓</span>
             </div>
    </div>
  </details>
  <div id="topheader">
    年度GDP数据详情
  </div>
  <div id="navid" style="margin-top: 20px;">
      <div  class="nav2 navactive"id="history"ng-click = "checkforecastYear()" id="history">
        <div   >历史与预测数据</div>
      </div>
      <div  class="nav3"id="eerror"ng-click = "checkdeviationYear()" id="eerror">
        <div   >预测误差</div>
      </div>
  </div>
  <div class = "col-md-12 table-responsive" style = "border-top:1px solid #428bca;padding:0px;width:97.5%;"  ng-if = "forecastYear">
                     <table class="table table-bordered" style="font-size:90%;margin-bottom:0px;">
                        <tr>
                            <th class="active" style="text-align:center;">年份(年)</th>
                            <th class="active" style="text-align:center;">2006</th>
                            <th class="active" style="text-align:center;">2007</th>
                            <th class="active" style="text-align:center;">2008</th>
                            <th class="active" style="text-align:center;">2009</th>
                            <th class="active" style="text-align:center;">2010</th>
                            <th class="active" style="text-align:center;">2011</th>
                            <th class="active" style="text-align:center;">2012</th>
                            <th class="active" style="text-align:center;">2013</th>
                            <th class="active" style="text-align:center;">2014</th>
                            <th class="active" style="text-align:center;">2015</th>
                            <th class="active" style="text-align:center;">2016</th>
                            <th class="active" style="text-align:center;">2017</th>
                            <th class="active" style="text-align:center;">2018</th>
                        </tr>
                        <tr>
                            <td class="info" style="text-align:center;">税收真实值(亿元)</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[0]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[1]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[2]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[3]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[4]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[5]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[6]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[7]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[8]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[9]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[10]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[11]}}</td>
                            <td class="info" style="text-align:center;">{{taxrealvalue[12]}}</td>
                        </tr>
                        <tr>
                            <td class="info" style="text-align:center;">税收预测值(亿元)</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [0]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [1]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [2]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [3]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [4]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [5]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [6]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [7]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [8]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [9]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [10]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [11]}}</td>
                            <td class="info" style="text-align:center;">{{taxForecastdate [12]}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div  class = "col-md-12 table-responsive" style = "border-top:1px solid #428bca;padding:0px;width:97.5%;"  ng-if="deviationYear">
           <table class="table table-bordered" style="font-size:90%;margin-bottom: 0px;">
                        <tr>
                            <th class="active" style="text-align:center;">年份(年)</th>
                            <th class="active" style="text-align:center;">2006</th>
                            <th class="active" style="text-align:center;">2007</th>
                            <th class="active" style="text-align:center;">2008</th>
                            <th class="active" style="text-align:center;">2009</th>
                            <th class="active" style="text-align:center;">2010</th>
                            <th class="active" style="text-align:center;">2011</th>
                            <th class="active" style="text-align:center;">2012</th>
                            <th class="active" style="text-align:center;">2013</th>
                            <th class="active" style="text-align:center;">2014</th>
                            <th class="active" style="text-align:center;">2015</th>
                            <th class="active" style="text-align:center;">2016</th>
                            <th class="active" style="text-align:center;">2017</th>
                            <th class="active" style="text-align:center;">2018</th>
                        </tr>
                        <tr>
                            <td class="info" style="text-align:center;">预测误差(%)</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[0]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[1]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[2]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[3]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[4]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[5]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[6]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[7]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[8]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[9]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[10]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[11]}}</td>
                            <td class="info" style="text-align:center">{{yearErrorRate[12]}}</td>
                        </tr>
                    </table>
        </div>
</section>



