.power-navbar-top {
	background-color: rgb(28, 43, 54);
	span {
		font-size: 0.9em;
	}
	.power-choose {
		position: relative;
		width: 50%;
		display: inline-block;
		text-align: center;
		margin-top: 13px;
		color: #fff;
		i {
			position: relative;
			top: 1px;
			font-size: 20px;
		}
		span {
			padding-left: 7px;
			font-size: 15px;
		}	
	}
	.power-dropdown-ul {
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		border-radius: 0 0 4px 4px;
		border-left: none;
		border-right: none;
		text-align: center;
		li {
			padding: 0.5em;
		}
		li.divider {
			padding: 0;
			margin: 0;
		}
	}
}
.power-home-body {
	padding-bottom: 0;
}
.power-navbar-bottom {
	min-height: 0;
}