<!--盒子3-->
<div class="panel panel-primary" style="margin-bottom:0;border-bottom: 0;border-left:0; border-right: 0;
    height:{{windowHeight-50}}px;overflow: scroll">
    <!--最上标题栏-->
    <div class="panel-heading">
        <h4>分地区空气质量分析预测</h4>
    </div>
    <div class="panel-body">
        <!--第三个框右侧栏-->
        <div style="border-left:1px solid lightgrey;padding:0">
            <div style="padding:1em;font-size:16px;">
                <div class="pull-left" class="col-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color:#93e0ff"></i>
                            <i class="fa  fa-leaf fa-stack-1x text-white"></i>
                        </span>
                </div>
                <h4 class="col-md-10 fc-font-title" style="margin-top:0.5em;padding-left:0;">空气质量预测</h4>
                <button class="btn btn-primary" ng-click="airQualityBtn()" style="margin-top:0.5em;margin-bottom:0.3em">
                    <span class="fa fa-hand-o-right">
                        <span class="fc-button-font">城区空气质量预测</span>
                    </span>
                </button>
                <br/>
                <span class="fa fa-leaf" ng-if="istownairquality">
                    <span class="fc-button-font">未来24小时太仓城区空气质量</span>
                </span>
            </div>
            <div ng-show="mapTableStatus.airQuality" style="margin-top:5px;">
                <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                        <th style="width:29%">监测点</th>
                        <th style="width:15%">AQI</th>
                        <th style="width:20%">污染物</th>
                        <th style="width:18%">PM2.5</th>
                        <th style="width:18%">SO2</th>
                    </tr>
                </table>
            </div>
            <div style="overflow: auto; overflow-x:hidden;height:180px;border-bottom:solid 1px lightgrey;"
                 ng-show="mapTableStatus.airQuality">
                <table class="table table-hover table-responsive" style="font-size:14px">
                    <tr>
                        <td style="width:29%">太仓市监测站</td>
                        <td style="width:15%">
                            <span>{{box2AQI[0].aqi}}</span>
                            <!-- <span>78</span> -->
                        </td>
                        <td style="width:20%">
                            <span>{{box2AQI[0].firstElement}}</span>
                            <!-- <span>PM2.5</span> -->
                        </td>
                        <td style="width:18%">
                            <span>{{box2AQI[0].pm25}}</span>
                            <!-- <span>45</span> -->
                        </td>
                        <td style="width:18%">
                            <span>{{box2AQI[0].so2}}</span>
                            <!-- <span>12</span> -->
                        </td>
                    </tr>
                    <tr>
                        <td style="width:29%">科教新城监测站</td>
                        <td style="width:15%">
                            <span>{{box2AQI[1].aqi}}</span>
                            <!-- <span>62</span> -->
                        </td>
                        <td style="width:20%">
                            <!-- <span>PM10</span> -->
                            <span>{{box2AQI[1].firstElement}}</span>
                        </td>
                        <td style="width:18%">
                            <!-- <span>37</span> -->
                            <span>{{box2AQI[1].pm25}}</span>
                        </td>
                        <td style="width:18%">
                            <!-- <span>18</span> -->
                            <span>{{box2AQI[1].so2}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="padding:1em;font-size:16px;">
                <div class="pull-left" class="col-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color:#93e0ff"></i>
                            <i class="fa fa-cloud fa-stack-1x text-white"></i>
                        </span>
                </div>
                <h4 class="col-md-10 fc-font-title" style="margin-top:0.5em;padding-left:0;">天气预测</h4>
                <button class="btn btn-primary" ng-click="airConditionBtn()"
                        style="margin-top:0.5em;margin-bottom:0.3em">
                    <span class="fa fa-hand-o-right">
                        <span class="fc-button-font">城区天气状况预测</span>
                    </span>
                </button>
                <br/>
                <span class="fa fa-cloud" ng-if="istownaircondition">
                    <span class="fc-button-font">太仓市明日天气状况</span>
                </span>
            </div>
            <div ng-show="mapTableStatus.airCondition">
                <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                    <tr>
                        <th style="width:20%">气象局</th>
                        <th style="width:20%">天气状况</th>
                        <th style="width:20%">最高气温(℃)</th>
                        <th style="width:20%">最低气温(℃)</th>
                        <th style="width:20%">风向风级</th>
                    </tr>
                </table>
            </div>
            <div style="overflow: auto; overflow-x:hidden;border-bottom:solid 1px lightgrey;"
                 ng-show="mapTableStatus.airCondition">
                <table class="table table-hover table-responsive" style="font-size:14px">
                    <tr>
                        <td style="width:20%">太仓市气象局</td>
                        <td style="width:20%">
                            <span>{{airConditionType[4]}}</span>
                        </td>
                        <td style="width:20%">
                            <span>{{airConditionHightemp[4]}}</span>
                        </td>
                        <td style="width:20%">
                            <span>{{airConditionLowtemp[4]}}</span>
                        </td>
                        <td style="width:20%">
                            <span>{{airConditionFengxiangFengli[4]}}</span>
                        </td>
                    </tr>
                </table>
                <div style="height:100px"></div>
            </div>
            <div style="padding:1em;font-size:16px;">
                <div class="pull-left" class="col-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color:#93e0ff"></i>
                            <i class="fa  fa-bar-chart  fa-stack-1x text-white"></i>
                        </span>
                </div>
                <h4 class="col-md-10 fc-font-title" style="margin-top:0.5em;padding-left:0;">工业废气排放分析</h4>
                <button class="btn btn-primary" ng-click="wasteAirBtn()" style="margin-top:0.5em;margin-bottom:0.3em">
                    <span class="fa fa-hand-o-right">
                        <span class="fc-button-font">工业废气排放分析</span>
                    </span>
                </button>
                <br/>
                <span class="fa fa-bar-chart" ng-if="istownwasteair">
                    <span class="fc-button-font">监测到废气排放均达标</span>
                </span>
            </div>
            <div class="col-md-12">
                <div ng-show="mapTableStatus.wasteAir">
                    <table class="table table-hover table-responsive"
                           style="font-size:14px;margin-bottom:0px;padding:0px">
                        <tr>
                            <th style="width:40%">企业</th>
                            <!-- <th style="width:20%">流量<br>(万m³)</th> -->
                            <th style="width:20%;text-align:center;">烟尘<br>(mg/m³)</th>
                            <th style="width:20%;text-align:center;">SO2<br>(mg/m³)</th>
                            <th style="width:20%;text-align:center;">氮氧化物<br>(mg/m³)</th>
                        </tr>

                    </table>
                </div>
                <div style="overflow: auto; overflow-x:hidden;height:180px" ng-show="mapTableStatus.wasteAir">
                    <table class="table table-hover table-responsive"
                           style="font-size:14px;margin-bottom:0;padding:0px">
                        <tr style="width:100%">
                            <td style="width:40%">太仓港协鑫发电</td>
                            <!-- <td>
                                <span>{{pollutionDischarge[0]}}</span>
                            </td> -->
                            <td style="width:20%;text-align:center;">
                                <span>{{pollutionSmoke[0]}}</span>
                            </td>
                            <td style="width:20%;text-align:center;">
                                <span>{{pollutionSo2[0]}}</span>
                            </td>
                            <td style="width:20%;text-align:center;">
                                <span>{{pollutionNo[0]}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>玖龙纸业</td>
                            <!-- <td>
                                <span>{{pollutionDischarge[1]}}</span>
                            </td> -->
                            <td>
                                <span style="text-align:center;">{{pollutionSmoke[1]}}</span>
                            </td>
                            <td>
                                <span style="text-align:center;">{{pollutionSo2[1]}}</span>
                            </td>
                            <td>
                                <span style="text-align:center;">{{pollutionNo[1]}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>华能国际电力</td>
                            <!-- <td>
                                <span>{{pollutionDischarge[2]}}</span>
                            </td> -->
                            <td>
                                <span style="text-align:center;">{{pollutionSmoke[2]}}</span>
                            </td>
                            <td>
                                <span style="text-align:center;">{{pollutionSo2[2]}}</span>
                            </td>
                            <td>
                                <span style="text-align:center;">{{pollutionNo[2]}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--第三个框左侧地图-->
        <div>
            <div class="panel panel-default"
                 style="border-color:lightgrey;border-style: solid;border-width: 1px;margin:0.8em;height:600px">
                <div style="height: 600px; border: #ccc solid 1px;" id="map_canvas"></div>
            </div>
        </div>
    </div>
</div>
<!--盒子3结束-->