<div class="navbar navbar-app navbar-absolute-top power-navbar-top">
	<div class="power-choose" ui-turn-on='airChoiceDropdown'><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i><span>选择子项</span></div>
	<ul class="dropdown-menu power-dropdown-ul"
		ui-outer-click="Ui.turnOff('airChoiceDropdown')"
		ui-outer-click-if="Ui.active('airChoiceDropdown')"
		role="menu"
		ui-show="airChoiceDropdown"
		ui-state="airChoiceDropdown"
		ui-turn-off="airChoiceDropdown">
		<li id=""><a ui-sref="app.in.air.one" ng-click="" href="javascript:void(0)">未来天气状况</a></li>
		<li class="divider"></li>
		<li id=""><a ui-sref="app.in.air.one" ng-click="" href="javascript:void(0)">分时段空气质量分析预测</a></li>
		<li class="divider"></li>
		<li id=""><a ui-sref="app.in.air.one" ng-click="" href="javascript:void(0)">分地区空气质量分析预测</a></li>
		<li class="divider"></li>
		<li id=""><a ui-sref="app.in.air.one" ng-click="" href="javascript:void(0)">实时空气质量变化情况</a></li>
	</ul>
	<div class="btn-group pull-left">
		<div class="btn btn-navbar color-w opacity100" ui-toggle='uiSidebarLeft'>
			<i class="fa fa-bars"></i>
			导航
		</div>
	</div>
</div>
<div class="app-body power-app-body">
	<div ng-show="loading" class="app-content-loading">
		<i class="fa fa-spinner fa-spin loading-spinner"></i>
	</div>
	<div class="app-content">
		<div ui-view></div>
	</div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom power-navbar-bottom">
</div>