<div class="scrollable">
  <div class="scrollable-content">
    <div class="kq-two-module">
      <div class="current-position">
        <div class="content">
          <span>经济 > 克强指数 > 当年克强指数详情</span>
        </div>
      </div>
      <div class="control-area">
        <span class="title">操作图表</span>
        <div class="content">
          <div style="width: 30%;display: inline-block;">
            <p class="handler-title" style="margin-top:10px;font-size:60%;">中长期贷款</p>
            <div class="input-group input-group-sm" style="width: 75%;">  
               <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange" attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100"  />
               <span class="input-group-addon" id="sizing-addon3" style="padding:0px 2px 0px 2px">%</span>
            </div>
          </div>
           <div style="width: 30%;display: inline-block;">
               <p class="handler-title" style="margin-top:10px;font-size:60%;">工业用电量</p>
               <div class="input-group input-group-sm" style="width: 75%;">  
                     <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange2" attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
                     <span class="input-group-addon" id="sizing-addon3" style="padding:0px 2px 0px 2px">%</span>
              </div>
          </div>
           <div style="width: 30%;display: inline-block;">
               <p class="handler-title" style="margin-top:10px;font-size:60%;">货运量</p>
               <div class="input-group input-group-sm" style="width: 75%;">  
                     <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" ng-model="selectedRange3" attern="((-)?[0-9]{1,2}|100|-100)" min="-100" max="100" />
                     <span class="input-group-addon" id="sizing-addon3" style="padding:0px 2px 0px 2px">%</span>
              </div>
          </div>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">图表</span>
        <div class="content">
          <highchart  id="charttotal" config="keqiangChart"></highchart>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">各指标图表</span>
        <div class="content">
          <a type="button" ng-click="checkfirst()" class="btn btn-default" href="javascript:void(0)" style="margin: 10px 0 0 15px;">银行中长期贷款</a>
          <a type="button" ng-click="checksecond()" class="btn btn-default" href="javascript:void(0)" style="margin: 10px 0 0 10px;">货运量</a>
          <a type="button" ng-click="checkthird()" class="btn btn-default" href="javascript:void(0)" style="margin: 10px 0 0 10px;">工业用电量</a>
          <highchart config="loanChart" ng-if="first" style="border-top: 1px dashed rgb(153, 153, 153);margin-top: 10px;"></highchart>
          <highchart config="transChart" ng-if="second" style="border-top: 1px dashed rgb(153, 153, 153);margin-top: 10px;"></highchart>
          <highchart config="elecChart" ng-if="third" style="border-top: 1px dashed rgb(153, 153, 153);margin-top: 10px;"></highchart>
        </div>
      </div>
      <div class="one-word">
        <span class="title">一句话解读</span>
        <span class="content">本年度克强指数三大指标增长率在年度GDP增长率周围波动，经济总体呈现健康稳定状态</span>
      </div>
      <div class="calculate-model">
        <span class="title">预测模型</span>
        <span class="content">"克强指数"的由来，源于李克强总理2007年任职辽宁省省委书记时，使用耗电量,铁路货运量和贷款发放量三个指标分析当时辽宁省经济状况,英国《经济学人》自2010年底正式推出这一指数后,受到花旗银行在内的众多国际机构认可。</span>
      </div>
    </div>
  </div>
</div>