<div class="scrollable">
    <div class="scrollable-content">
        <div class="power-one-module">
            <div class="current-position">
                <span class="title">当前位置</span>
                <span class="content">环境 -> 水质量评价分析 -> 污水处理厂废水排放分析</span>
            </div>
            <div class="control-area">
                <span class="title">水质监测站</span>
                <div class="content" style="padding-bottom: 1px;padding-top: 5px">
                    <div style="font-size:16px">
                        <ul class="list-group" style="overflow: auto;overflow-x:hidden;height:120px">
                            <li class="list-group-item" style="height:40px;"
                                ng-repeat="waterQualityOne in waterQualityMarkerList2">
                                {{waterQualityOne.monitor}}
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                <a style="cursor: pointer"
                                   ng-click="btn_waterEnvironmentAnalysisElementsList(waterQualityOne)">查看</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chart-area">
                <span class="title">水质监测站及其附近污水处理厂查看</span>
                <div class="content">
                    <div style="height: 400px; " id="map_canvas_BI"></div>
                </div>
            </div>
            <div class="control-area">
                <span class="title">数据详情</span>
                <div class="content" style="padding: 0">
                    <div ng-show="tableStatus.allWaterQualityFailArr">
                    <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                        <tr>
                            <th style="width:20%">监测点</th>
                            <th style="width:20%">溶解氧</th>
                            <th style="width:15%">KMnO4</th>
                            <th style="width:15%">氨氮</th>
                            <th style="width:15%">总磷</th>
                        </tr>
                    </table>
                </div>
                    <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityFailArr">
                        <table class="table table-hover table-responsive" style="font-size:14px">
                            <tr ng-repeat="waterQualityOne in waterQualityMarkerList2">
                                <td style="width:20%">{{waterQualityOne.monitor}}</td>
                                <td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="tableStatus.allWaterQualityArr">
                        <table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">
                            <tr>
                                <th style="width:20%">监测点</th>
                                <th style="width:20%">溶解氧</th>
                                <th style="width:15%">KMnO4</th>
                                <th style="width:15%">氨氮</th>
                                <th style="width:15%">总磷</th>
                            </tr>
                        </table>
                    </div>
                    <div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityArr">
                        <table class="table table-hover table-responsive" style="font-size:14px">
                            <tr ng-repeat="waterQualityOne in waterQualityMarkerList">
                                <td style="width:20%">{{waterQualityOne.monitor}}</td>
                                <td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>
                                <td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div ng-show="tableStatus.allWaterQualityElementsArr" style="font-size:16px">
                        <div>
                            <div class="panel-body" id="source_analysis" style="padding-left: 0;padding-right: 0">
                                <h5>附近排污点</h5>
                                <div>
                                    <table class="table table-hover table-responsive"
                                           style="font-size:14px;margin-bottom:0px">
                                        <tr>
                                            <th style="width:30%">企业</th>
                                            <th style="width:25%">排放量<br/>(吨)</th>
                                            <th style="width:15%">COD<br/>(mg/L)</th>
                                            <th style="width:15%">氨氮<br/>(mg/L)</th>
                                            <th style="width:15%">总磷<br/>(mg/L)</th>
                                        </tr>
                                    </table>
                                </div>
                                <div style="overflow: auto; overflow-x:hidden;height:80px">
                                    <table class="table table-hover table-responsive" style="font-size:14px">
                                        <tr ng-repeat="wasteWaterOne in wasteWaterAnalysisMarker">
                                            <td style="width:25%">{{wasteWaterOne.monitor}}</td>
                                            <td style="width:25%">
                                                <span>{{wasteWaterOne.index_discharge[1].toFixed(2)}}</span></td>
                                            <td style="width:17%"><span>{{wasteWaterOne.index_cod.toFixed(2)}}</span></td>
                                            <td style="width:17%"><span>{{wasteWaterOne.index_nh4n.toFixed(2)}}</span></td>
                                            <td style="width:16%"><span>{{wasteWaterOne.index_p.toFixed(2)}}</span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-block btn-success" ng-click="btn_waterEnvironmentAllList()"
                                ng-show="tableStatus.allWaterQualityFailArrNav">列出所有监测点
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 盒子3 -->
<!--水质监测站及其附近污水处理厂查看-->
<!--<div class="panel panel-primary" style="margin-bottom:0;border-bottom: 0;border-left:0; border-right: 0;-->
<!--height:{{windowHeight}}px;overflow: scroll">-->
    <!--<div class="panel-heading" style="margin-top: 51px">-->
        <!--<h4>水质监测站及其附近污水处理厂查看</h4>-->
    <!--</div>-->
    <!--<div class="panel-body" style="padding: 0">-->
        <!--&lt;!&ndash;高德地图容器&ndash;&gt;-->
        <!--<div style="height: 450px; border: #ccc solid 1px; margin: 2px 2px 2px 2px" id="map_canvas_BI"></div>-->
        <!--&lt;!&ndash;右侧面板：水质监测站&ndash;&gt;-->
        <!--<div class="panel panel-primary" style="height: 600px;border-left: 0;border-right: 0;border-bottom: 0">-->
            <!--<div class="panel-body" style="padding-top: 8px">-->
                <!--<h4><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;水质监测站</h4>-->
                <!--<div style="font-size:16px">-->
                    <!--<ul class="list-group" style="overflow: auto;overflow-x:hidden;height:120px">-->
                        <!--<li class="list-group-item" style="height:40px;"-->
                            <!--ng-repeat="waterQualityOne in waterQualityMarkerList2">-->
                            <!--<span class="badge glyphicon glyphicon-exclamation-sign"></span>-->
                            <!--{{waterQualityOne.monitor}}-->
                            <!--<span class="glyphicon glyphicon-hand-right"></span>-->
                            <!--<a style="cursor: pointer"-->
                               <!--ng-click="btn_waterEnvironmentAnalysisElementsList(waterQualityOne)">查看</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div ng-show="tableStatus.allWaterQualityFailArr">-->
                    <!--<table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">-->
                        <!--<tr>-->
                            <!--<th style="width:20%">监测点</th>-->
                            <!--<th style="width:20%">溶解氧</th>-->
                            <!--<th style="width:15%">KMnO4</th>-->
                            <!--<th style="width:15%">氨氮</th>-->
                            <!--<th style="width:15%">总磷</th>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityFailArr">-->
                    <!--<table class="table table-hover table-responsive" style="font-size:14px">-->
                        <!--<tr ng-repeat="waterQualityOne in waterQualityMarkerList2">-->
                            <!--<td style="width:20%">{{waterQualityOne.monitor}}</td>-->
                            <!--<td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div ng-show="tableStatus.allWaterQualityArr">-->
                    <!--<table class="table table-hover table-responsive" style="font-size:14px;margin-bottom:0px">-->
                        <!--<tr>-->
                            <!--<th style="width:20%">监测点</th>-->
                            <!--<th style="width:20%">溶解氧</th>-->
                            <!--<th style="width:15%">KMnO4</th>-->
                            <!--<th style="width:15%">氨氮</th>-->
                            <!--<th style="width:15%">总磷</th>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div style="overflow: auto;overflow-x:hidden" ng-show="tableStatus.allWaterQualityArr">-->
                    <!--<table class="table table-hover table-responsive" style="font-size:14px">-->
                        <!--<tr ng-repeat="waterQualityOne in waterQualityMarkerList">-->
                            <!--<td style="width:20%">{{waterQualityOne.monitor}}</td>-->
                            <!--<td style="width:20%"><span>{{waterQualityOne.index_o2.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_kmno4.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_nh4n.toFixed(2)}}</span></td>-->
                            <!--<td style="width:15%"><span>{{waterQualityOne.index_p.toFixed(2)}}</span></td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div ng-show="tableStatus.allWaterQualityElementsArr" style="font-size:16px">-->
                    <!--<div class="panel panel-primary">-->
                        <!--<div class="panel-body" id="source_analysis">-->
                            <!--<h4>附近排污点</h4>-->
                            <!--<hr>-->
                            <!--<div>-->
                                <!--<table class="table table-hover table-responsive"-->
                                       <!--style="font-size:14px;margin-bottom:0px">-->
                                    <!--<tr>-->
                                        <!--<th style="width:30%">企业</th>-->
                                        <!--<th style="width:25%">排放量<br/>(吨)</th>-->
                                        <!--<th style="width:15%">COD<br/>(mg/L)</th>-->
                                        <!--<th style="width:15%">氨氮<br/>(mg/L)</th>-->
                                        <!--<th style="width:15%">总磷<br/>(mg/L)</th>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                            <!--<div style="overflow: auto; overflow-x:hidden;height:180px">-->
                                <!--<table class="table table-hover table-responsive" style="font-size:14px">-->
                                    <!--<tr ng-repeat="wasteWaterOne in wasteWaterAnalysisMarker">-->
                                        <!--<td style="width:25%">{{wasteWaterOne.monitor}}</td>-->
                                        <!--<td style="width:25%">-->
                                            <!--<span>{{wasteWaterOne.index_discharge[1].toFixed(2)}}</span></td>-->
                                        <!--<td style="width:17%"><span>{{wasteWaterOne.index_cod.toFixed(2)}}</span></td>-->
                                        <!--<td style="width:17%"><span>{{wasteWaterOne.index_nh4n.toFixed(2)}}</span></td>-->
                                        <!--<td style="width:16%"><span>{{wasteWaterOne.index_p.toFixed(2)}}</span></td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<button type="button" class="btn btn-block btn-success" ng-click="btn_waterEnvironmentAllList()"-->
                            <!--ng-show="tableStatus.allWaterQualityFailArrNav">列出所有监测点-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- 盒子3结束 -->