<div class="scrollable">
    <div class="scrollable-content">
        <div class="labor-two-module">  
            <div class="current-position">
                <span class="title">当前位置</span>
                <span class="content">人口 -> 劳动力人口与经济关联分析预测 -> 劳动力总人口与GDP关联分析预测</span>
            </div>
            <div class="control-area">
                <span class="title">操作图表</span>
                <div class="content">
                    <a type="button" name="" ui-turn-on="myDropdown2" class="btn btn-default" href="javascript:void(0)">年份选择<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></a>
                    <div style="position: relative;">
                        <ul ui-shared-state="myDropdown2" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown2')" ui-outer-click-if="Ui.active('myDropdown2')" role="menu" ui-show="myDropdown2" ui-turn-off="myDropdown2">
                            <li ng-repeat="year in yearSelect"><a ng-click="toggleData1(year)">{{year}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chart-area">
                <span class="title">图表</span>
                <div class="content">
                   <div id="main" style="height:480px;"></div>
                 </div>
            </div>
            <div class="one-word">
                <span class="title">一句话解读</span>
                <span class="content"><marquee>数据分析：在经济发展水平对人口的影响中，关联度最高的是第二产业总值，其次是第三产业总值。结论：第一产业比重逐年下降，第二、三产业比重上升，将成为影响人口就业结构和城乡结构变化的主要因素</marquee></span>
            </div>
            <div class="calculate-model">
                <span class="title">预测模型</span>
                <span class="content">劳动力人口与各项经济指标关联度分析预测采用的是灰色预测模型、灰色关联分析法和回归分析法。</span>
            </div>
            <div class="detail-data">
                <span class="title">数据详情</span>
                <table class="table table-bordered table-condensed content table-hover">
                    <tr ng-repeat="all in totaldata.tabledata" style="text-align: center;">
                        <td>{{all.yearvalue}}</td>
                        <td>{{all.Fp}}</td>
                        <td>{{all.Sp}}</td>
                        <td>{{all.Tp}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
