<div class="scrollable">
    <div class="scrollable-content">
        <div class="power-one-module">
            <div class="current-position">
                <div class="content">
                    <span>环境 > 空气 > 分时段空气质量分析预测</span>
                </div>
            </div>
            <div class="chart-area">
                <span class="title">按天空气质量分析预测</span>
                <div class="content">
                    <div>
                        <div style="background: #00AAE0;text-align: center">
                            <br>
                            <h1 style="font-size:25px;color: white">实时空气质量状况</h1>
                            <span style="font-size:14px;color: white">采样时间:{{box2Today}}8时</span>
                            <h2>
                                <span style="font-size:60px;color: white">{{box24Index.aqi}}</span>
                                <span style="font-size:14px;color: white" >{{airQualityLevel}}</span>
                            </h2>
                            <br>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge" style="background: red">{{box24Index.firstElement}}</span>
                                <i class="fa fa-certificate" style="color:#88cb26"></i> 首要污染物
                            </li>
                            <li class="list-group-item" ng-click = "openHealthList()">
                                <span class="badge" style="cursor:pointer">{{openorclose}}</span>
                                <i class="fa fa-user" style="color:#88cb26"></i> 对健康的影响
                            </li>
                            <li class="list-group-item" ng-if="ishealthopen">
                                <span>&nbsp;&nbsp;{{healthEffect}}</span>
                            </li>
                            <li class="list-group-item" ng-click = "openSuggestionList()">
                                <span class="badge" style="cursor:pointer">{{openorclose1}}</span>
                                <i class="fa fa-pencil" style="color:#88cb26"></i> 建议措施
                            </li>
                            <li class="list-group-item" ng-if="issuggestionopen">
                                <span>&nbsp;&nbsp;{{proposedMeasure}}</span>
                            </li>
                        </ul>
                    </div>
                    <highchart  id="aqilinechart"  config="aqilinechart"></highchart>
                </div>
            </div>
            <div class="calculate-model">
                <span class="title">预测模型</span>
                <span class="content">空气质量预测采用混沌遗传神经网络模型</span>
            </div>
            <div class="detail-data">
                <span class="title">未来空气质量预报</span>
                <table class="table table-bordered table-condensed content table-hover">
                    <tr style="background-color: rgba(99,99,99,.1);">
                        <td>&nbsp;&nbsp;时段&nbsp;&nbsp;</td>
                        <td>空气质量</td>
                        <td>首要污染物</td>
                    </tr>
                    <tr>
                        <td>今日夜间</td>
                        <td>{{box2AQI[0].aqi}}</td>
                        <td style="color:#f05050">{{box2AQI[0].firstElement}}</td>
                    </tr>
                    <tr>
                        <td>明天上午</td>
                        <td>{{box2AQI[1].aqi}}</td>
                        <td style="color:#f05050">{{box2AQI[1].firstElement}}</td>
                    </tr>
                    <tr>
                        <td>明天下午</td>
                        <td>{{box2AQI[2].aqi}}</td>
                        <td style="color:#f05050">{{box2AQI[2].firstElement}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>