<!--&lt;!&ndash; 盒子2 &ndash;&gt;-->
<div class="scrollable">
    <div class="scrollable-content">
        <div class="power-one-module">
            <div class="current-position">
                <div class="content">
                    <span>环境 > 水质量 > 污水处理厂废水排放分析</span>
                </div>
            </div>
            <div class="control-area">
                <span class="title">污水处理厂废水排放分析</span>
                <div class="content">
                    <div style="margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid lightgrey;">
                        <p><i class="fa fa-bars"></i><span class="fc-font-title" style="margin-left:0.5em">各污水处理厂废水排放量</span>
                        </p>
                        <div>
                            <button ng-click="changePollutionType1()" class="btn m-b-xs btn-primary  cgq_fixedwidth">废水排放量
                            </button>
                        </div>
                    </div>
                    <div>
                        <p><i class="fa fa-bars"></i><span style="margin-left:0.5em">所排放废水中各污染指标</span></p>
                        <button ng-click="changePollutionType2()" class="btn m-b-xs btn-primary">溶解氧浓度</button>
                        <button style="margin-left: 5px" ng-click="changePollutionType3()" class="btn m-b-xs btn-primary">&nbsp;&nbsp;&nbsp;氨氮浓度&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <br>
                        <button style="margin-top: 3px" ng-click="changePollutionType4()" class="btn m-b-xs btn-primary">&nbsp;&nbsp;总磷浓度&nbsp;&nbsp;</button>
                        <button style="margin-top: 3px;margin-left: 5px" ng-click="changePollutionType5()"
                                class="btn m-b-xs btn-primary">高锰酸钾浓度
                        </button>
                    </div>
                </div>
            </div>
            <div class="chart-area">
                <span class="title">图表</span>
                <div class="content">
                    <highchart style="height: 350px" id="discharge" config="discharge"></highchart>
                </div>
            </div>
            <div class="one-word">
                <span class="title">一句话解读</span>
                <span class="content">太仓市主要污水处理厂近期废水排放分时间分厂区分析</span>
            </div>
        </div>
    </div>
</div>