<!-- 盒子2 -->
<!-- 污水总量Highcharts -->
<div class="panel panel-primary" style="margin-bottom:0;border-bottom: 0;border-left:0; border-right: 0;
    height:{{windowHeight}}px;overflow: scroll">
    <div class="panel-heading">
        <h4>污水处理厂废水排放分析</h4>
    </div>
    <div class="panel-body" style="padding:0">
        <!--Highcharts部分-->
        <div>
            <highchart style="height: 350px" id="discharge" config="discharge"></highchart>
        </div>
        <!--第二个框的右边栏部分-->
        <div>
            <div class="col-md-12" style="margin-bottom:1em;padding-bottom:1em;padding-top:1em;border-bottom:1px solid lightgrey;border-top:1px solid lightgrey;">
                <p><i class="fa fa-bars" ></i><span class="fc-font-title" style="margin-left:0.5em">各污水处理厂废水排放量</span></p>
                <div>
                    <button ng-click="changePollutionType1()" class="btn m-b-xs btn-primary  cgq_fixedwidth" >废水排放量</button>
                </div>
            </div>
            <div class="col-md-12" style="margin-bottom:1em;padding-bottom:1em;border-bottom:1px solid lightgrey;">
                <p><i class="fa fa-bars"></i><span style="margin-left:0.5em">所排放废水中各污染指标</span></p>
                <button ng-click="changePollutionType2()" class="btn m-b-xs btn-primary">溶解氧浓度</button>
                <button style="margin-left: 5px" ng-click="changePollutionType3()" class="btn m-b-xs btn-primary">&nbsp;&nbsp;&nbsp;氨氮浓度&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <br>
                <button style="margin-top: 3px" ng-click="changePollutionType4()" class="btn m-b-xs btn-primary">&nbsp;&nbsp;总磷浓度&nbsp;&nbsp;</button>
                <button style="margin-top: 3px;margin-left: 5px" ng-click="changePollutionType5()" class="btn m-b-xs btn-primary">高锰酸钾浓度</button>
            </div>
            <!--一句话解读-->
            <div class="col-md-12">
                <i class="fa  fa-mortar-board (alias) fa-fw text-muted" style="color: #23b7e5"></i>
                <span class="fc-font-title">一句话解读</span>	<br>
                <span style="font-size:14px;margin-right:10px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;太仓市主要污水处理厂近期废水排放分时间分厂区分析。</span>
            </div>
        </div>
    </div>
</div>
<!-- 盒子2结束 -->