@mixin font() {
	font-size: 10px;
	span {
		font-size: 15px;	
	}
	color: $fontBlack;
}
@mixin bgc() {
	background-color: #fff;
}
@mixin menurow() {
	padding: 1em 2em;
	height: 50px;
	background: radial-gradient(#eee, #eee, #fff);
	span {
		display: inline-block;
		margin-left: 1em;
		position: relative;
		top: -0.5em;
	}
}
.soraka-menu-module {
	background-color: #fff;
	.soraka-menu-navbar-top {
		background-color: $bgDarkBlue;
		span {
			font-size: 0.9em;
		}
		.soraka-menu-navbar-topright {
			margin-top: 13px;
			font-size: 17px;
			margin-right: 0.5em;
			color: #fff;
		}
	}
	.soraka-menu-navbar-bottom {
		background-color: $bgDarkBlue;
		.soraka-menu-navbar-bottomleft{
			margin-top: 13px;
			font-size: 17px;
			margin-left: 1em;
			color: #fff;
			i {
				margin-right: 0.5em;
			}
		}
		#footlabel {
			display: block;
			margin: 10px auto 0 auto;
			font-size: 10px;
			font-weight: 100;
			color: #eee;
			text-align: center;
		}
	}
}
.soraka-sidebar-left {
	background-color: $bgLightGrey;
	@include font();
	.soraka-sidebar-header {
		height: 50px;
		color: #eee;
		background-color: $bgDarkBlue;
		i {
			position: absolute;
			font-size: 20px;
			top: 16px;
			left: 10px;
		}
		span {
			position: absolute;
			top: 19px;
			left: 32px;
			line-height: 15px;
		}
	}
	.sidebar-left-d1 {
		background-color: #fff;
		width: 100%;
		height: 7em;
		border-bottom: 1px solid $cborder;
		border-top: 1px solid $cborder;
		.sidebar-left-homepage {
			background: radial-gradient(6em 5em, #eee, #eee, #fff);
			width: 49%;
			height: 100%;
			text-align: center;
			display: inline-block;
			// border-right: 1px solid $cborder;
			i {
				margin-top: 0.2em;
			}
			span {
				display: block;
				margin-top: 0.2em;
			}
		}
		.sidebar-left-me {
			background: radial-gradient(6em 5em, #eee, #eee, #fff);
			width: 45%;
			height: 100%;
			text-align: center;
			display: inline-block;
			i {
				margin-top: 0.2em;
			}
			span {
				display: block;
				margin-top: 0.2em;
			}
		}
	}
	.sidebar-left-mesetting {
		@include bgc();
		@include menurow();
		border-bottom: 1px solid $cborder;
		&:focus, &:active {
			background-color: red;
		}
	}
	.sidebar-left-timesetting {
		@include bgc();
		@include menurow();
		border-bottom: 1px solid $cborder;
	}
	.sidebar-left-logout {
		@include bgc();
		@include menurow();
		border-bottom: 1px solid $cborder;
	}
}