<div class="scrollable">
  <div class="scrollable-content">
    <div class="kq-one-module">
      <div class="current-position">
        <div class="content">
          <span>经济 > 克强指数 > 各年度克强指数</span>
        </div>
      </div>
      <div class="control-area">
        <span class="title">操作图表</span>
        <div class="content">
          <a type="button" name="" ui-turn-on="myDropdown2" class="btn btn-default" href="javascript:void(0)">切换年份<i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></a>
          <div style="position: relative;">
            <ul ui-shared-state="myDropdown2" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown2')" ui-outer-click-if="Ui.active('myDropdown2')" role="menu" ui-show="myDropdown2" ui-turn-off="myDropdown2">
                    <li><a ng-click="keqiangchangeyear('2016')">2016</a></li>
                    <li><a ng-click="keqiangchangeyear('2015')">2015</a></li>
                    <li><a ng-click="keqiangchangeyear('2014')">2014</a></li>
                  </ul>
          </div>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">图表</span>
        <div class="content">
          <highchart  id="chart1" config="keqiangindex"></highchart>
        </div>
      </div>
      <div class="one-word">
        <span class="title">一句话解读</span>
        <span class="content">克强指数数据分析:本年度克强指数三大指标增长率在年度GDP增长率周围波动，经济总体呈现健康稳定状态型</span>
      </div>
      <div class="calculate-model">
        <span class="title">数据模型</span>
        <span class="content">"克强指数"的由来，源于李克强总理2007年任职辽宁省省委书记时，使用耗电量,铁路货运量和贷款发放量三个指标分析当时辽宁省经济状况,英国《经济学人》自2010年底正式推出这一指数后,受到花旗银行在内的众多国际机构认可。</span>
      </div>
    </div>
  </div>
</div>
