<!--盒子1-->
<div class="col-md-12" style="margin-top:2em;margin-bottom:2em;">
    <div class="panel panel-primary" style="margin-bottom:0">
        <div class="panel-heading">
            <h4>未来天气状况</h4>
        </div>
        <div class="panel-body" style="padding:0">
            <div class="row">
                <!--未来天气状况highchart-->
                <div class="col-md-8 chart-panel" style="padding:1em 1em 1em 3em">
                    <highchart  id="temperature"  config="temperature"  style="width:95%;height:500px"></highchart>
                </div>
                <!--未来天气状况 右侧面板-->
                <div class="col-md-4" style="padding:1.2em 1em 1em 1em">
                    <div class="col-md-12" style="padding-left:0">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="clearfix">
                                    <a ng-if="flag1" href="" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/assets/images/environment/cloud.gif" alt="where">
                                    </a>
                                    <a ng-if="flag2" href="" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/assets/images/environment/shade.gif" alt="where">
                                    </a>
                                    <a ng-if="flag3" href="" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/assets/images/environment/rain.gif" alt="where">
                                    </a>
                                    <a ng-if="flag4" href="" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/assets/images/environment/snow.gif" alt="where">
                                    </a>
                                    <a ng-if="flag5" href="" class="pull-left thumb-md avatar b-3x m-r">
                                        <img src="/assets/images/environment/fine.gif" alt="where">
                                    </a>
                                    <div class="">
                                        <div class="h3 m-t-xs m-b-xs">
                                            <span class="fc-font-title" style="font-weight:normal;font-size:100%">明日天气</span>
                                            <i class="fa text-success pull-right text-xs m-t-sm"></i>
                                        </div>
                                        <!-- <small class="text-muted">2016年{{date[7]}}</small> -->
                                        <small class="text-muted">{{airConditionTomorrow}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group no-radius alt">
                                <a class="list-group-item" href="">
                                    <span class="badge bg-light">{{airConditionType[4]}}</span>
                                    <i class="fa fa-pagelines fa-fw " style="color:#88cb26"></i>
                                    天气状况
                                </a>
                                <a class="list-group-item" href="">
                                    <span class="badge bg-success" style="width: 15%; background-color:#fbc003; color:#ffffff">
                                    {{airConditionHightemp[4]}}°C</span>
                                    <i class="icon ion-thermometer " style="color: #eb2026;margin-left:5px;"></i>
                                    &nbsp;&nbsp;最高气温
                                </a>
                                <a class="list-group-item" href="">
                                    <span class="badge bg-info" style="width: 15%; background-color: #27c24c">{{airConditionLowtemp[4]}}°C</span>
                                    <i class="icon ion-thermometer" style="color: #24a8dd;margin-left:5px;"></i>
                                    <span>&nbsp;&nbsp;最低气温</span>
                                </a>
                                <a class="list-group-item" href="">
                                    <span class="badge bg-light">{{airConditionFengxiangFengli[4]}}</span>
                                    <i class="icon ion-cloud" style="color: #24a8dd;margin-left:5px;"></i>
                                    &nbsp;风向风级
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left" class="col-md-2">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" style="color:#93e0ff"></i>
                            <i class="fa fa-lightbulb-o fa-stack-1x text-white fa-spin fa-fw" aria-hidden="true"></i>
                        </span>
                    </div>
                    <h3 class="col-md-10" style="margin-top:0.5em;padding-left:0">&nbsp;一句话解读</h3>
                    <div class="col-md-12" style="margin-bottom:1em">
                        <span class="fc-font-content" style="font-size:105%;font-weight:500;margin-left:2em;">太仓市明日天气{{airConditionType[4]}}，温差{{airConditionTomorrowDiff}}摄氏度。风向风力为{{airConditionFengxiangFengli[4]}}。</span>
                    </div>
                    <br>
                    <button ng-click="showTotalTable()" class="btn m-b-xs btn-primary pull-left" style="margin-left:0;font-weight:bold">详细数据列表</button>
                </div>
            </div>
        </div>
    </div>
    <!--未来七天天气状况  数据详情-->
    <div class="bg-white fc-datatable" ng-if="totalshow">
        <div class="panel panel-default paddingmargin0em">
            <div class="panel-heading" style="text-align: center">数据详情</div>
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                <tr class="ng-scope ng-isolate-scope">
                    <td ng-repeat="year in totaldata.tabledata" style="text-align: center;">{{year.yearvalue}}</td>
                </tr>
                <tr class="ng-scope ng-isolate-scope">
                    <td ng-repeat="weather in totaldata.tabledata" style="text-align: center;">{{weather.weather}}</td>
                </tr>
                <tr class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Htemperature in totaldata.tabledata" style="text-align: center;">{{Htemperature.Htemperature}}</td>
                </tr>
                <tr class="ng-scope ng-isolate-scope">
                    <td ng-repeat="Ltemperature in totaldata.tabledata" style="text-align: center;">{{Ltemperature.Ltemperature}}</td>
                </tr>
                <tr class="ng-scope ng-isolate-scope">
                    <td ng-repeat="wind in totaldata.tabledata" style="text-align: center;">{{wind.wind}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--盒子1结束-->
