$standardFontSize: 14px;
$standardWhite: #FFFFFF;

$wordGray: #787878;
$wordBlack: #333333;

// 统一提示颜色
$errMsg: #FF0033;
$successMsg: #33CC66;
$clevel1: #4ede62; //可接受
$clevel2: #f7b85e; // 轻微问题
$clevel3: #e85959; // 问题
$clevel4: #777777; // 问题
.clevel1 {
  color: $clevel1 !important;
}
.clevel2 {
  color: $clevel2 !important;
}
.clevel3 {
  color: $clevel3 !important;
}
.clevel4 {
  color: $clevel4 !important;
}
.GREEN {
  background-color: $clevel1 !important;
}
.YELLOW {
  background-color: $clevel2 !important;
}
.RED {
  background-color: $clevel3 !important;
}
.GRAY {
  background-color: $clevel4 !important;
}

// 统一背景色
$bgGreen: rgb(26, 173, 25);
$bgDarkBlue: #3399CC; // topbar bottombar
$bgLightBlue: #F5FAFF;
$bgLightGrey: rgb(240, 243, 244);

// 统一文字色
$fontBlack: #666666;

// 统一底部导航条的高度
$bottomBarH: 50px;

// 统一边框颜色
$cborder: rgb(204, 204, 204);
* {
	margin:0;
	padding: 0;
}

html {
  font-family: 'Hiragino Sans GB', 'Lantinghei SC', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $standardFontSize;
}

body {
  width: 100%;
  height: 100%;
  color: $wordBlack;
  background-color: $standardWhite;
  overflow: auto;
}

//统一背景色
.weui-bg {
  background-color: rgb(251, 250, 254);
}

//utils
.hw100 {
	height: 100%;
  width: 100%;
}

.color-w {
  color: $standardWhite !important;
}

.opacity100 {
  opacity: 1 !important;
}

// loading
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.nodisplay {
  min-height: 0 !important;
  height: 0;
  border-bottom: 2px solid $bgDarkBlue;
}
.nopaddingbottom {
  padding-bottom: 0 !important;
}