<div class="container" style="overflow-y:scroll;height: 550px;width: 100%;">
     
	 <highchart style="" config="firstChart" ></highchart>

     <div class="btn-group dropdown" style="width: 100%;">
            <button class="btn btn-success" ng-click="toggleMenu1()" data-toggle="dropdown" style="width:50%" aria-expanded="false" >年份选择<span class="caret"></span></button>
            <ul ng-show="isMenu1" class="dropdown-menu">
                <li ng-repeat="year in yearSelect1"><a ng-model="predictionModal" style="" btn-radio="bttn.radio" ng-click="toggleData1(year)">{{year}}</a></li>
            </ul>
            <button class="btn btn-primary" ng-click="showPopulationDetail1()"  style="width:50%">详情数据<span class="caret"></span></button>
      </div>
      <div>
        <table class="table la-table-text" ng-show="datashow1">
            <thead>
               <tr>
                    <th>年份</th>
                    <th>人口(人)</th>
                    <th>GDP(万亿元)</th>
                    <th>关联度</th>
                </tr>	
            </thead>
            <tbody>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[0]}}</td>
                    <td>{{firstChart.series[2].data[0]}}</td>
                    <td>{{firstChart.series[1].data[0]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[1]}}</td>
                    <td>{{firstChart.series[2].data[1]}}</td>
                    <td>{{firstChart.series[1].data[1]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[2]}}</td>
                    <td>{{firstChart.series[2].data[2]}}</td>
                    <td>{{firstChart.series[1].data[2]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[3]}}</td>
                    <td>{{firstChart.series[2].data[3]}}</td>
                    <td>{{firstChart.series[1].data[3]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[4]}}</td>
                    <td>{{firstChart.series[2].data[4]}}</td>
                    <td>{{firstChart.series[1].data[4]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[5]}}</td>
                    <td>{{firstChart.series[2].data[5]}}</td>
                    <td>{{firstChart.series[1].data[5]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[6]}}</td>
                    <td>{{firstChart.series[2].data[6]}}</td>
                    <td>{{firstChart.series[1].data[6]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[7]}}</td>
                    <td>{{firstChart.series[2].data[7]}}</td>
                    <td>{{firstChart.series[1].data[7]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[8]}}</td>
                    <td>{{firstChart.series[2].data[8]}}</td>
                    <td>{{firstChart.series[1].data[8]}}</td>
                </tr>
                <tr style="text-align: left;">
                    <td>{{firstChart.options.xAxis.categories[0]}}</td>
                    <td>{{firstChart.series[0].data[9]}}</td>
                    <td>{{firstChart.series[2].data[9]}}</td>
                    <td>{{firstChart.series[1].data[9]}}</td>
                </tr>
            </tbody>
          </table>
       </div>

</div>