<header>
  <hgroup>
    <h4>当前位置:</h4>
  </hgroup>
  <nav>
    <span>经济</span>>>
    <span>GDP</span>>>
    <span>分产业GDP</span>
  </nav>
</header>
<section style="height: {{containerHeight}}px">
  <div id="topheader">
    年度GDP数据可视化
  </div>
  <div id="contain">
    <highchart   id="chart1" config="industryyearGDPChart" style = "margin-left:15px"></highchart>
  </div>
  <div id="controlcontain">
    <div class="showstyle"><span>图表展示方式</span></div>
    <div class="ebutton ebuttonActive" ng-click = "industryexchange('column')" id="column">柱状图</div>
    <div class="ebutton" ng-click = "industryexchange('line')" id="line">折线图</div>
    <div class="ebutton" ng-click = "industryexchange('spline')" id="spline">曲线图</div>
    <div class="ebutton" ng-click = "industryexchange('area')" id="area">区域图</div>
  </div>
  <details open>
    <summary>一句话解读</summary>
    <div id="sentence">
      <i class="fa fa-circle" style="margin-top: 1%"></i>
        <div>
            <span>年度GDP预测模型为:基于时间序列的自回归积分滑动平均模型</span>
        </div>
    </div>
  </details>
  <details open>
    <summary>数据模型</summary>
    <div id="sentence">
         <i class="fa fa-circle"></i>
             <div>
                <span>预测结果分析:预计今年GDP增速相对于上一年有所放缓</span>
             </div>
    </div>
  </details>
  <div id="topheader">
    年度GDP数据详情
  </div>
  <div id="navid" style="margin-top: 20px;">
      <div  class="nav3 navactive"id="first"ng-click = "checkfirst()">
        <div>第一产业</div>
      </div>
      <div  class="nav3"id="second"ng-click = "checksecond()">
        <div>第二产业</div>
      </div>
      <div  class="nav3"id="third"ng-click = "checkthird()">
        <div>第三产业</div>
      </div>
  </div>
  <div id="contain">
    <highchart config="primaryGDPChart" ng-if="first"></highchart>
     <highchart    config="secondGDPChart" ng-if="second"></highchart>
     <highchart    config="thirdGDPChart" ng-if="third"></highchart>
  </div>
</section>