<div style="overflow-y:scroll;height: 450px;width: 100%;">

  <div style="border:1px solid lightblue;background:lightblue">
    <h4 style="margin-top:10px;margin-left:10px">人口与教育</h4>
  </div>               
  <div class="col-md-8 chart-panel" >
    <highchart config="school" style="width:100%"></highchart>
  </div>
  <span class="fa-stack fa-lg" style="margin-left:5px">
    <i class="fa fa-circle fa-stack-2x text-info"></i>
    <i class="fa fa-lightbulb-o fa-stack-1x text-white fa-spin fa-fw" aria-hidden="true"></i>
  </span>
  <span class="h4">一句话解读</span>             
  <div style="padding-right:26px">
    <small class="block m-t-xs">
      <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">数据分析：<span id="school1">{{school1}}</span></div>
    </small>
    <small class="block m-t-xs">
      <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">结论：<span id="school2">{{school2}}</span></div>
    </small>
    <small class="block m-t-xs">
      <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;"><span>人口与教育分析预测采用的是灰色预测模型。</span></div>
    </small>
  </div>
  <div class="btn-group dropdown" style="width:100%;margin-top:20px">
    <button class="btn btn-success" ng-click="toggleMenu1()" data-toggle="dropdown" aria-expanded="false" style="width:50%">年份选择<span class="caret"></span></button>
    <ul ng-show="isMenu" class="dropdown-menu">
      <li><a ng-repeat="bttn in buttonMap8" ng-model="predictionModal" style="margin-left: 4px;margin-bottom:2px;margin-right:1px" btn-radio="bttn.radio" ng-click="btn_click8(bttn)">{{bttn.label}}</a></li>
    </ul> 
    <button ng-click="showPopulationDetail3()"  class="btn m-b-xs btn-primary cgq-fixed-buttonwidth" style="width:50%">详细数据</button>           
  </div>  
  <div  ng-if="totalshow3" style="width:100px">
    <div class="paddingmargin0em" >
      <table st-table="rowCollectionBasic" class="table table-bordered table-striped"> 
        <tr>
          <td colspan="11"><center><strong>{{school.options.title.text}}</strong></center></td>
        </tr>
        <tr class="ng-scope ng-isolate-scope">
          <td>地区</td>
          <td ng-repeat="num in townName track by $index"> {{num}}</td>
        </tr>
        <tr class="ng-scope ng-isolate-scope">
          <td >小学数量（所）</td>
          <td ng-repeat="num in school.series[0].data  track by $index">{{num}}</td>
        </tr>     
        <tr class="ng-scope ng-isolate-scope">
          <td >初中数量（所）</td>
          <td ng-repeat="num in school.series[1].data  track by $index">{{num}}</td>
        </tr>
        <tr class="ng-scope ng-isolate-scope">
          <td >高中数量（所）</td>
          <td ng-repeat="num in school.series[2].data  track by $index">{{num}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>