<div  style="overflow-y:scroll;height: 450px;width: 100%;">
        <div style="border:1px solid lightblue;background:lightblue">
          <h4 style="margin-top:10px;margin-left:10px">人口与城镇养老保险基金预测</h4>
        </div>          
            
          <div class="col-md-8 chart-panel" >
            <highchart config="money"  style="width:100%"></highchart>
          </div>
         
          
              <div style="height:15px;"></div>
              <span class="fa-stack fa-lg" style="margin-left:5px">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-lightbulb-o fa-stack-1x text-white fa-spin fa-fw" aria-hidden="true"></i>
                <i class="icon-bulb fa-stack-1x text-white fa-spin icon-bulb-position"></i>
              </span>
              <span class="h4">一句话解读</span>
              <br>
              <div class="media-body clear" style="width:100%;margin-left:9px;padding-right:26px" >
                <small class="block m-t-xs">
                  <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">数据分析：<span id="insurance1">{{insurance1}}</span></div>
                </small>
                <small class="block m-t-xs">
                  <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;">结论：<span id="insurance2">{{insurance2}}</span></div>
                </small>
                <small class="block m-t-xs">
                  <i class="fa fa-circle" style="width:6%;float:left;margin-top:0.2em;"></i><div style="width:94%;float:left;margin-bottom:0.4em;"><span>人口与城镇养老保险基金分析预测采用的是灰色预测模型法。</span></div>
                </small>
              </div>
              <div style="height:10px"></div>
          
            <div class="btn-group dropdown" style="width:100%">
              <button class="btn btn-success" data-toggle="dropdown" aria-expanded="false" ng-click="toggleMenu1()" style="width:50%">年份选择<span class="caret"></span></button>
              <ul class="dropdown-menu" ng-show="isMenu">
                <li><a ng-repeat="bttn in buttonMap1" ng-model="predictionModal" style="width:150px;margin-left: 4px;margin-bottom:2px;margin-right:1px" btn-radio="bttn.radio" ng-click="btn_click5(bttn)">{{bttn.label}}</a></li>
              </ul>
              <button ng-click="showPopulationDetail2()" style="width:50%" class="btn m-b-xs btn-primary cgq-fixed-buttonwidth">详细数据</button>
            </div>    
          
         
        
        <div class="bg-white fc-datatable"  ng-if="totalshow2" style="border:0px">
          <div class="panel panel-default paddingmargin0em" >
            <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
              <tr>
              <td colspan="6"><center><strong>{{insuranceyear}}年人口与城镇养老保险基金预测表</strong></center>
              </td>
              </tr>
              <tr>
                 <td>年份</td>
                 <td>养老保险基金（亿）</td>
                 <td>老年人口比例</td>
                 <td>就业人口比例</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[0]}}</td>
                 <td>{{money.series[0].data[0]}}</td>
                 <td>{{money.series[1].data[0]}}%</td>
                 <td>{{money.series[2].data[0]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[1]}}</td>
                 <td>{{money.series[0].data[1]}}</td>
                 <td>{{money.series[1].data[1]}}%</td>
                 <td>{{money.series[2].data[1]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[2]}}</td>
                 <td>{{money.series[0].data[2]}}</td>
                 <td>{{money.series[1].data[2]}}%</td>
                 <td>{{money.series[2].data[2]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[3]}}</td>
                 <td>{{money.series[0].data[3]}}</td>
                 <td>{{money.series[1].data[3]}}%</td>
                 <td>{{money.series[2].data[3]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[4]}}</td>
                 <td>{{money.series[0].data[4]}}</td>
                 <td>{{money.series[1].data[4]}}%</td>
                 <td>{{money.series[2].data[4]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[5]}}</td>
                 <td>{{money.series[0].data[5]}}</td>
                 <td>{{money.series[1].data[5]}}%</td>
                 <td>{{money.series[2].data[5]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[6]}}</td>
                 <td>{{money.series[0].data[6]}}</td>
                 <td>{{money.series[1].data[6]}}%</td>
                 <td>{{money.series[2].data[6]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[7]}}</td>
                 <td>{{money.series[0].data[7]}}</td>
                 <td>{{money.series[1].data[7]}}%</td>
                 <td>{{money.series[2].data[7]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[8]}}</td>
                 <td>{{money.series[0].data[8]}}</td>
                 <td>{{money.series[1].data[8]}}%</td>
                 <td>{{money.series[2].data[8]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[9]}}</td>
                 <td>{{money.series[0].data[9]}}</td>
                 <td>{{money.series[1].data[9]}}%</td>
                 <td>{{money.series[2].data[9]}}%</td>
              </tr>              
            </table>
          </div>
        </div>  
</div>