<div class="scrollable">
  <div class="scrollable-content">
    <div class="structure-one-module">
      <div class="current-position">
        <span class="title">当前位置</span>
        <span class="content">人口 -> 民生分析预测BI -> 人口与城镇基本养老保险分析预测</span>
      </div>
      <div class="control-area">
        <span class="title">操作图表</span>
        <div class="content">
          <a type="button" name="" ui-turn-on="myDropdown2" class="btn btn-default" href="javascript:void(0)">年份选择
          <i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></a>
          <div style="position:relative;">
            <ul ui-shared-state="myDropdown2" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown2')" ui-outer-click-if="Ui.active('myDropdown2')" role="menu" ui-show="myDropdown2" ui-turn-off="myDropdown2">
              <li ng-repeat="bttn in buttonMap1" ng-model="myYear"><a ng-model="predictionModal" style="margin-bottom: 1px;" btn-radio="bttn.radio" ng-click="btn_click5(bttn)">{{bttn.label}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">图表</span>
        <div class="content">
          <highchart  id="money" config="money"></highchart>
          
         
        </div>
      </div>
      <div class="one-word">
        <span class="title">一句话解读</span>
        <span class="content" >
        <li>数据分析：<span id="insurance1">{{insurance1}}</span></li>
        <br>
        <li>结论：<span id="insurance2">{{insurance2}}</span></li>
        </span>
      </div>
      <div class="calculate-model">
        <span class="title">预测模型</span>
        <span class="content">人口与城镇养老保险基金分析预测采用的是灰色预测模型。</span>
      </div>
      <div class="detail-data">
        <span class="title">{{insuranceyear}}年人口与城镇养老保险基金预测详情</span>
        <table class="table table-bordered table-condensed content table-hover">
         
              <tr style="background-color: rgba(99,99,99,.1);">
                 <td >年份</td>
                 <td>养老保险基金（亿）</td>
                 <td>老年人口比例</td>
                 <td>就业人口比例</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[0]}}</td>
                 <td>{{money.series[0].data[0]}}</td>
                 <td>{{money.series[1].data[0]}}%</td>
                 <td>{{money.series[2].data[0]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[1]}}</td>
                 <td>{{money.series[0].data[1]}}</td>
                 <td>{{money.series[1].data[1]}}%</td>
                 <td>{{money.series[2].data[1]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[2]}}</td>
                 <td>{{money.series[0].data[2]}}</td>
                 <td>{{money.series[1].data[2]}}%</td>
                 <td>{{money.series[2].data[2]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[3]}}</td>
                 <td>{{money.series[0].data[3]}}</td>
                 <td>{{money.series[1].data[3]}}%</td>
                 <td>{{money.series[2].data[3]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[4]}}</td>
                 <td>{{money.series[0].data[4]}}</td>
                 <td>{{money.series[1].data[4]}}%</td>
                 <td>{{money.series[2].data[4]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[5]}}</td>
                 <td>{{money.series[0].data[5]}}</td>
                 <td>{{money.series[1].data[5]}}%</td>
                 <td>{{money.series[2].data[5]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[6]}}</td>
                 <td>{{money.series[0].data[6]}}</td>
                 <td>{{money.series[1].data[6]}}%</td>
                 <td>{{money.series[2].data[6]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[7]}}</td>
                 <td>{{money.series[0].data[7]}}</td>
                 <td>{{money.series[1].data[7]}}%</td>
                 <td>{{money.series[2].data[7]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[8]}}</td>
                 <td>{{money.series[0].data[8]}}</td>
                 <td>{{money.series[1].data[8]}}%</td>
                 <td>{{money.series[2].data[8]}}%</td>
              </tr>
              <tr>
                 <td>{{money.options.xAxis[0].categories[9]}}</td>
                 <td>{{money.series[0].data[9]}}</td>
                 <td>{{money.series[1].data[9]}}%</td>
                 <td>{{money.series[2].data[9]}}%</td>
              </tr>          
        </table>
      </div>
    </div>
  </div>
</div>


