<div class="scrollable">
  <div class="scrollable-content">
    <div class="structure-one-module">
      <div class="current-position">
        <span class="title">当前位置</span>
        <span class="content">人口 -> 民生分析预测BI -> 人口与就业</span>
      </div>
      <div class="control-area">
        <span class="title">操作图表</span>
        <div class="content">
          <a type="button" name="" ui-turn-on="myDropdown2" class="btn btn-default" href="javascript:void(0)">年份选择
          <i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></a>
          <div style="position:relative;">
            <ul ui-shared-state="myDropdown2" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown2')" ui-outer-click-if="Ui.active('myDropdown2')" role="menu" ui-show="myDropdown2" ui-turn-off="myDropdown2">
              <li ng-repeat="bttn in buttonMap3" ng-model="myYear"><a ng-model="predictionModal" style="margin-bottom: 1px;" btn-radio="bttn.radio" ng-click="btn_click3(bttn)">{{bttn.label}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">图表</span>
        <div class="content">
          <highchart  id="jobf" config="jobf"></highchart>
          
         
        </div>
      </div>
      <div class="one-word">
        <span class="title">一句话解读</span>
        <span class="content" >数据分析：<span id="abc">数据分析：最近几年，太仓就业形势良好，在劳动力人口平稳增长的背景下，就业人口也呈平稳增长态势。</span></span>
        
      </div>
      <div class="calculate-model">
        <span class="title">预测模型</span>
        <span class="content">就业人数分析预测采用的是灰色预测模型。</span>
      </div>
      <div class="detail-data">
        <span class="title">数据详情</span>
        <div class="content" style="padding:5px;"><center>{{employyear}}年就业情况分析预测表</center></div> 
        <table class="table table-bordered table-condensed content table-hover">
         
         
         
       <tr style="background-color: rgba(99,99,99,.1);">
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年份&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 <td>劳动力人口（万）</td>
                 <td>就业人口（万）</td>
                 <td>就业率</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[0]}}</td>
                 <td>{{jobf.series[0].data[0]}}</td>
                 <td>{{jobf.series[1].data[0]}}</td>
                 <td>{{rate[0]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[1]}}</td>
                 <td>{{jobf.series[0].data[1]}}</td>
                 <td>{{jobf.series[1].data[1]}}</td>
                 <td>{{rate[1]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[2]}}</td>
                 <td>{{jobf.series[0].data[2]}}</td>
                 <td>{{jobf.series[1].data[2]}}</td>
                 <td>{{rate[2]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[3]}}</td>
                 <td>{{jobf.series[0].data[3]}}</td>
                 <td>{{jobf.series[1].data[3]}}</td>
                 <td>{{rate[3]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[4]}}</td>
                 <td>{{jobf.series[0].data[4]}}</td>
                 <td>{{jobf.series[1].data[4]}}</td>
                 <td>{{rate[4]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[5]}}</td>
                 <td>{{jobf.series[0].data[5]}}</td>
                 <td>{{jobf.series[1].data[5]}}</td>
                 <td>{{rate[5]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[6]}}</td>
                 <td>{{jobf.series[0].data[6]}}</td>
                 <td>{{jobf.series[1].data[6]}}</td>
                 <td>{{rate[6]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[7]}}</td>
                 <td>{{jobf.series[0].data[7]}}</td>
                 <td>{{jobf.series[1].data[7]}}</td>
                 <td>{{rate[7]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[8]}}</td>
                 <td>{{jobf.series[0].data[8]}}</td>
                 <td>{{jobf.series[1].data[8]}}</td>
                 <td>{{rate[8]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[9]}}</td>
                 <td>{{jobf.series[0].data[9]}}</td>
                 <td>{{jobf.series[1].data[9]}}</td>
                 <td>{{rate[9]}}%</td>
              </tr>    
        </table>
      </div>
            <div class="control-area">
        <span class="title">操作图表</span>
        <div class="content">
          <a type="button" name="" ui-turn-on="myDropdown2" class="btn btn-default" href="javascript:void(0)">年份选择
          <i class="fa fa-caret-down" aria-hidden="true" style="margin-left: 5px;"></i></a>
          <div style="position:relative;">
            <ul ui-shared-state="myDropdown2" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown2')" ui-outer-click-if="Ui.active('myDropdown2')" role="menu" ui-show="myDropdown2" ui-turn-off="myDropdown2">
              <li ng-repeat="bttn in buttonMap1" ng-model="myYear"><a ng-model="predictionModal" style="margin-bottom: 1px;" btn-radio="bttn.radio" ng-click="btn_click1(bttn)">{{bttn.label}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="chart-area">
        <span class="title">图表</span>
        <div class="content">
          <highchart  id="jobt" config="jobt"></highchart>
          
         
        </div>
      </div>
      <div class="one-word">
        <span class="title">一句话解读</span>
        <span class="content" >数据分析：<span id="abc">数据分析：最近几年，太仓就业形势良好，在劳动力人口平稳增长的背景下，就业人口也呈平稳增长态势。</span>
        </span>
        <span class="content" ><span id="conclusion">结论：第一产业比重逐年下降，第二、三产业比重上升，将成为影响人口就业结构和城乡结构变化的主要因素。</span>
        </span>
      </div>
      <div class="calculate-model">
        <span class="title">预测模型</span>
        <span class="content">就业结构分析预测采用的是灰色预测模型法。</span>
      </div>
      <div class="detail-data">
        <span class="title">数据详情</span>
        <div class="content" style="padding:5px;"><center> {{employyear1}}年就业结构变化分析预测表</center></div> 
        <table class="table table-bordered table-condensed content table-hover">
                 
              <tr style="background-color: rgba(99,99,99,.1);">
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年份&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                 <td>就业人数（万）</td>
                 <td>第一产业人口比</td>
                 <td>第二产业人口比</td>
                 <td>第三产业人口比</td>
              </tr>
              <tr>
                 <td>{{jobt.options.xAxis.categories[0]}}</td>
                 <td>{{jobt.series[0].data[0]}}</td>
                 <td>{{jobt.series[1].data[0]}}%</td>
                 <td>{{jobt.series[2].data[0]}}%</td>
                 <td>{{jobt.series[3].data[0]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[1]}}</td>
                <td>{{jobt.series[0].data[1]}}</td>
                 <td>{{jobt.series[1].data[1]}}%</td>
                 <td>{{jobt.series[2].data[1]}}%</td>
                 <td>{{jobt.series[3].data[1]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[2]}}</td>
                 <td>{{jobt.series[0].data[2]}}</td>
                 <td>{{jobt.series[1].data[2]}}%</td>
                 <td>{{jobt.series[2].data[2]}}%</td>
                 <td>{{jobt.series[3].data[2]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[3]}}</td>
                 <td>{{jobt.series[0].data[3]}}</td>
                 <td>{{jobt.series[1].data[3]}}%</td>
                 <td>{{jobt.series[2].data[3]}}%</td>
                 <td>{{jobt.series[3].data[3]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[4]}}</td>
                <td>{{jobt.series[0].data[4]}}</td>
                 <td>{{jobt.series[1].data[4]}}%</td>
                 <td>{{jobt.series[2].data[4]}}%</td>
                 <td>{{jobt.series[3].data[4]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[5]}}</td>
                <td>{{jobt.series[0].data[5]}}</td>
                 <td>{{jobt.series[1].data[5]}}%</td>
                 <td>{{jobt.series[2].data[5]}}%</td>
                 <td>{{jobt.series[3].data[5]}}%</td>
              </tr>
              <tr>
                <td>{{jobf.options.xAxis.categories[6]}}</td>
                <td>{{jobt.series[0].data[6]}}</td>
                 <td>{{jobt.series[1].data[6]}}%</td>
                 <td>{{jobt.series[2].data[6]}}%</td>
                 <td>{{jobt.series[3].data[6]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[7]}}</td>
                 <td>{{jobt.series[0].data[7]}}</td>
                 <td>{{jobt.series[1].data[7]}}%</td>
                 <td>{{jobt.series[2].data[7]}}%</td>
                 <td>{{jobt.series[3].data[7]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[8]}}</td>
                 <td>{{jobt.series[0].data[8]}}</td>
                 <td>{{jobt.series[1].data[8]}}%</td>
                 <td>{{jobt.series[2].data[8]}}%</td>
                 <td>{{jobt.series[3].data[8]}}%</td>
              </tr>
              <tr>
                 <td>{{jobf.options.xAxis.categories[9]}}</td>
                 <td>{{jobt.series[0].data[9]}}</td>
                 <td>{{jobt.series[1].data[9]}}%</td>
                 <td>{{jobt.series[2].data[9]}}%</td>
                 <td>{{jobt.series[3].data[9]}}%</td>
              </tr>          
        </table>
      </div>
    </div>
  </div>
</div>


 <div  style="padding-left:0px">
        <div class="block panel padder-v cgq_bg-lightgreen item cgq_marginaround1em cgq_contentwidth" style="background:lightblue">
         <span class="text-white font-thin h1 block"><span style="background:green">81.07%</span></span>
         <span class="text-xs"><span>2016</span>年太仓市就业率</span>
      </div>
      </div>
<div  style="margin-top:10px;padding-left:0px">
      <div class="block panel padder-v cgq_bg-lightyellow item cgq_marginaround1em cgq_contentwidth" style="background:lightblue">
        <span class="text-white font-thin h1 block"  style="background:green">45.7万</span>
        <span class="text-xs">2016年太仓市就业人数</span>
        </div> 
      </div>  




